<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Blackjack</title>
</head>
<body id="body">
    <div class="container">
        <div class="table">
            <div class="players" id="players">

            </div>
        </div>
        <div class="dealer">
            <div class="control">
                <img class="cardReverse" src="<%= require('./img/card_reverse.png') %>" alt="cardReverse" id="cardReverse">
                <button class="hit" id="hit">Hit</button>
                <button class="stand" id="stand">Stand</button>
                <img class="logo" src="<%= require('./img/logo.png') %>">
            </div>
        </div>
    </div>
</body>
</html>